  .dark,
  .dark .menu.active {
      background-color: #263238;
  }

  .dark .texto-branco {
    color: #fff;
  }
  
  .dark .logo,
  .dark footer h2,
  .dark .services .card h4{
      color: #FFF;
  }

  .dark .bi-sun {
      display: none;
  }

  .dark .bi-moon {
      display: block;
      color: #f5f1f1;
  }

  /* Modo Escuro */
.dark-mode .service h4 {
  color: #fff;
}

.dark-mode .service p {
  color: #ccc;
}

.service h4.dark-mode {
  color: #fff;
}

  .dark .home-container .home-info h2 span,
  .dark .benefits-container>h3,
  .dark .benefits-cards .card h4,
  .dark .about-container>h3,
  .services-container>h3,
  .dark .contact-container h3{
    color: #9572ce;
  }
  
  /* Modo Escuro */
.dark-mode .contact-container h4,
.dark-mode .contact-container .contact-card h4,
.dark-mode .contact-container .contact-card p,
.dark-mode .contact-container .contact-form h4,
.dark-mode .contact-container .contact-form input,
.dark-mode .contact-container .contact-form textarea,
.dark-mode .contact-container .contact-form button,
.dark-mode footer p {
  color: #fff;
}

/* Modo Escuro */
.dark-mode .contact-container h3,
.dark-mode .contact-container .contact-card h4,
.dark-mode .contact-container .contact-card p,
.dark-mode .contact-container .contact-form h4,
.dark-mode .contact-container .contact-form input,
.dark-mode .contact-container .contact-form textarea,
.dark-mode .contact-container .contact-form button,
.dark-mode footer p {
  color: black;
}